h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
}
.blo1 {
    
background-color: mediumspringgreen;
}
.blo2 {
   
background-color: lightcoral;
}
.blo3{
   
background-color: skyblue;
}
strong { 
   color: blue; 
}
div{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}